// Main

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

// Title (Sections)

.title {
    font-size: 24px;
}

//Logo

.logo {
    font-family: 'Shrikhand', serif;
}

.logo--header {
    font-size: 30px;
    color: #101010;
}

.logo--footer {
    font-size: 18px;
    color: #FFFFFF;
}

// Header 

.header-section {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__return {
    position: absolute;
    left: 20px;
    top: 25px
}

// Image

.menu-image {
    margin-bottom: -60px;
    z-index: -10;
    position: relative;
}

.menu-image--img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

// Menu 

.menu-section {
    padding: 25px 15px 40px 15px;
    background-color: #F6F6F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    overflow: hidden;
}

.menu-title {
    display: flex;
    align-items: center; 
    gap: 30px;
}

.menu-title--h2 {
    font-family: 'Shrikhand', serif;
    font-size: 28px;
}

.menu__section {
    padding-top: 40px;
}

.menu__section--line {
    border: #99E2D0 2px solid;
    width: 40px;
    animation: menu 300ms backwards;
}

.menu-title--h3 {
    font-size: 16px;
    font-weight: lighter;
    animation: menu 300ms backwards;
}

// Heart Block 

.heart-bloc {
    width: 22px;
    height: 22px;
}


.menu-title__icon--base {
    font-size: 22px;
    position: absolute;
    opacity: 1;
}

.menu-title__icon--grad {
    font-size: 22px;
    font-weight: 900;
    position: absolute;
    opacity: 0;
}

.menu-title__icon--grad::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .heart-bloc:hover > .menu-title__icon--grad {
    opacity: 1;
    animation: heart 1s;
}

.heart-bloc:hover > .menu-title__icon--base {
    animation: heart 300ms 750ms reverse forwards;
}

// Title (Keyframes)

@keyframes heart {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

//Menu Card

.menu-card {
    height: 69px;
    margin-top: 15px;
    padding-left: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    animation: menu 300ms backwards;
}

.menu-card-text {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}

.menu-card-text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-card-title {
    font-size: 18px;
    padding-bottom: 3px;
}

.menu-card-price {
    font-weight: bold;
    padding: 25px 20px 0px 20px;
}

.menu-card-check {
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
}

.menu-card:hover > .menu-card-check {
    width: 59px;
    transition: width 300ms;
}

.menu-card:not(:hover) > .menu-card-check {
    transition: width 300ms;
}

// Menu Delay 

.delay1 { animation-delay: 0.1s; }
.delay2 { animation-delay: 0.2s; }
.delay3 { animation-delay: 0.3s; }
.delay4 { animation-delay: 0.4s; }
.delay5 { animation-delay: 0.5s; }
.delay6 { animation-delay: 0.6s; }
.delay7 { animation-delay: 0.7s; }
.delay8 { animation-delay: 0.8s; }
.delay9 { animation-delay: 0.9s; }
.delay10 { animation-delay: 1.0s; }

// Menu (Keyframes)

@keyframes menu {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
    }
}

//Button (Menu)

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.button {
    color: white;
    font-size: 16px;
    padding: 15px 50px;
    border-radius: 25px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    transition: box-shadow 1s, filter 1s;
}

.button:hover {
    filter: brightness(115%);
    box-shadow: 0px 0px 10px #7E7E7E;
}

// Footer

.footer-section {
    padding: 20px;
    background-color: #353535;
    color: #FFFFFF;
}

.footer-section__logo {
    padding-bottom: 10px;
}

.footer-section__a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-top: 5px;
}

.footer-section__a--icon {
    height: 13px;
    width: 12px;
    font-size: 12px;
}