* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-section {
    font-size: 24px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__logo {
    background-color: white;

    padding-top: 14px;
    padding-bottom: 14px;
}

.header__search {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #EAEAEA;
}

.header__search--input {
    border: 0px;
    width: 109px;
    background-color: #EAEAEA;
}

.booking {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #F6F6F6;
}