// Main

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

// Loader

.loader {
    background-color: #101010;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    opacity: 1;
    animation: loader 3s forwards;
}

.loader-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader-bar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: loader-bar 2s linear infinite;
  }

//Loader Keyframes

@keyframes loader {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    99% {
        width: 100%;
        height: 100vh;
    }

    100% {
        opacity: 0;
        width: 0%;
        height: 0vh;
    }
}

@keyframes loader-bar {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #9356DC, 24px 0 #FFF;
    }
    66% {
      background: #9356DC;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #9356DC;
    }
  }

// Title (Sections)

.title {
    font-size: 24px;
}

//Logo

.logo {
    font-family: 'Shrikhand', serif;
}

.logo--loader {
    font-size: 30px;
    color: #FFFFFF;
}

.logo--header {
    font-size: 30px;
    color: #101010;
}

.logo--footer {
    font-size: 18px;
    color: #FFFFFF;
}

// Header 

.header-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__title {
    background-color: white;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header__location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    width: 100%;
    background-color: #EAEAEA;
    color: #353535;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}

// Booking

.booking-section {
    padding: 50px 20px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.booking-section__text {
    text-align: center;
}

.booking-section__spacing {
     padding-bottom: 15px;
}

//Button (Booking)

.button {
    color: white;
    font-size: 16px;
    padding: 13px 19px;
    border-radius: 25px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    transition: box-shadow 1s, filter 1s;
}

.button:hover {
    filter: brightness(115%);
    box-shadow: 0px 0px 10px #7E7E7E;
}


// Fonction

.fonction-section {
    padding: 50px 20px 60px 20px;
    background-color: #FFFFFF;
}

.fonction-section--article {
    padding: 25px 30px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
}

.fonction-section--number {
    margin-left: -40px;
    background-color: #9356DC;
    color: #FFFFFF;
    height: 24px;
    width: 24px;
    border-radius: 45px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fonction-section__icon {
    color: #7E7E7E;
}

.fonction-section--article:hover .fonction-section__icon {
    color: #9356DC;
}

// Restaurant 

.restaurant-section {
    padding: 50px 20px;
    background-color: #F6F6F6;
}

// Card (Restaurant)

.restaurant-card {
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 15px;    
}

.restaurant-card__image {
    position: relative;
}

.restaurant-card-state {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    color: #008766;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 2px;
}

.restaurant-card--content {
    padding: 15px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.restaurant-card--img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurant-card--text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.heart-bloc {
    width: 22px;
    height: 22px;
}

.restaurant-card__icon--base {
    font-size: 22px;
    position: absolute;
    opacity: 1;
}

.restaurant-card__icon--grad {
    font-size: 22px;
    font-weight: 900;
    position: absolute;
    opacity: 0;
}

.restaurant-card__icon--grad::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .heart-bloc:hover > .restaurant-card__icon--grad {
    opacity: 1;
    animation: heart 1s;
}

.heart-bloc:hover > .restaurant-card__icon--base {
    animation: heart 300ms 750ms reverse forwards;
}

// Card (Keyframes)

@keyframes heart {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

// Footer

.footer-section {
    padding: 20px;
    background-color: #353535;
    color: #FFFFFF;
}

.footer-section__logo {
    padding-bottom: 10px;
}

.footer-section__a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-top: 5px;
}

.footer-section__a--icon {
    height: 13px;
    width: 12px;
    font-size: 12px;
}