// Main

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

// Title (Sections)

.title {
    font-size: 24px;
}

//Logo

.logo {
    font-family: 'Shrikhand', serif;
}

.logo--header {
    font-size: 30px;
    color: #101010;
}

.logo--footer {
    font-size: 18px;
    color: #FFFFFF;
}

// Header 

.header-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__title {
    background-color: white;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header__location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    width: 100%;
    background-color: #EAEAEA;
    color: #353535;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}

// Booking

.booking-section {
    padding: 50px 20px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.booking-section__text {
    text-align: center;
}

//Button (Booking)

.button {
    color: white;
    font-size: 16px;
    padding: 13px 19px;
    border-radius: 25px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
}

// Fonction

.fonction-section {
    padding: 50px 20px;
    background-color: #FFFFFF;
}

.fonction-section--a {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

// Restaurant 

.restaurant-section {
    padding: 50px 20px;
    background-color: #F6F6F6;
}

// Card (Restaurant)

.restaurant-card {
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 15px;    
}

.restaurant-card--img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurant-card--text {
    padding: 15px;
}

// Footer

.footer-section {
    padding: 20px;
    background-color: #353535;
    color: #FFFFFF;
}