// Main

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

// Title (Sections)

.title {
    font-size: 24px;
}

//Logo

.logo {
    font-family: 'Shrikhand', serif;
}

.logo--header {
    font-size: 30px;
    color: #101010;
}

.logo--footer {
    font-size: 18px;
    color: #FFFFFF;
}

// Header 

.header-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__title {
    background-color: white;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header__location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    width: 100%;
    background-color: #EAEAEA;
    color: #353535;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}

// Booking

.booking-section {
    padding: 50px 20px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.booking-section__text {
    text-align: center;
}

//Button (Booking)

.button {
    color: white;
    font-size: 16px;
    padding: 13px 19px;
    border-radius: 25px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
}

// Fonction

.fonction-section {
    padding: 50px 20px;
    background-color: #FFFFFF;
}

.fonction-section--article {
    padding: 25px 30px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
}

.fonction-section--number {
    margin-left: -40px;
    background-color: #9356DC;
    color: #FFFFFF;
    height: 24px;
    width: 24px;
    border-radius: 45px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// Restaurant 

.restaurant-section {
    padding: 50px 20px;
    background-color: #F6F6F6;
}

// Card (Restaurant)

.restaurant-card {
    margin-top: 15px;
    background-color: #FFFFFF;
    border-radius: 15px;    
}

.restaurant-card__image {
    position: relative;
}

.restaurant-card-state {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    color: #008766;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 2px;
}

.restaurant-card--content {
    padding: 15px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.restaurant-card--img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurant-card--icon {
    font-size: 21px;
    padding: 10px;
}

.restaurant-card--text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

// Footer

.footer-section {
    padding: 20px;
    background-color: #353535;
    color: #FFFFFF;
}

.footer-section__logo {
    padding-bottom: 10px;
}

.footer-section__a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding-top: 5px;
}

.footer-section__a--icon {
    height: 13px;
    width: 12px;
    font-size: 12px;
}